# Data Structure Templating and Preliminary Cleaning Plans

Due to the large nature of the data logged by BackBlaze, a plan to clean, reduce, and condense the data must be created so that an external script or database can be created to make the data more manageable.

The primary goal of this notebook is to simply gain context on the dataset.   
No cleaning will be done here.

HDD Data can be found [>>>HERE<<<](https://www.backblaze.com/b2/hard-drive-test-data.html)  
Courtesy of BackBlaze.

**TO DO:**  
Note which SMART Stats are Low-Best and which are High-Best

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import Data
df = pd.read_csv('/home/tyler/Documents/Hard Drive Project Data/data_Q1_2019/drive_stats_2019_Q1/2019-01-01.csv')
print(df.shape)
df.head()

(106918, 129)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2019-01-01,Z305B2QN,ST4000DM000,4000787030016,0,111,35673128,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,ZJV0XJQ4,ST12000NM0007,12000138625024,0,83,187116872,NaN,NaN,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,ZJV0XJQ3,ST12000NM0007,12000138625024,0,73,19599104,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,ZJV0XJQ0,ST12000NM0007,12000138625024,0,81,136943696,NaN,NaN,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,0,134.0,103.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Perform a sanity check using .nunique() to confirm that each observation is a unique drive.
df['serial_number'].nunique()

106918

## SMART Analysis  

This section will be devoted to analyzing and contextualizing SMART Stats contained within this dataset.  
All SMART Stats not listed or noted here are deemed critical or necessary or useful and therefore do not require further analysis or action.  

Attribute Tables:  
https://en.wikipedia.org/wiki/S.M.A.R.T.
https://www.micromat.com/product_manuals/drive_scope_manual_01.pdf  

Other Resources:  
https://www.smartmontools.org/wiki/TocDoc#SMARTAttributes
https://www.backblaze.com/blog-smart-stats-2014-8.html#S9R

In [4]:
# Get list of SMART stats for trimming
columns = df.columns.tolist()
columns

['date',
 'serial_number',
 'model',
 'capacity_bytes',
 'failure',
 'smart_1_normalized',
 'smart_1_raw',
 'smart_2_normalized',
 'smart_2_raw',
 'smart_3_normalized',
 'smart_3_raw',
 'smart_4_normalized',
 'smart_4_raw',
 'smart_5_normalized',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_7_raw',
 'smart_8_normalized',
 'smart_8_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_10_normalized',
 'smart_10_raw',
 'smart_11_normalized',
 'smart_11_raw',
 'smart_12_normalized',
 'smart_12_raw',
 'smart_13_normalized',
 'smart_13_raw',
 'smart_15_normalized',
 'smart_15_raw',
 'smart_16_normalized',
 'smart_16_raw',
 'smart_17_normalized',
 'smart_17_raw',
 'smart_22_normalized',
 'smart_22_raw',
 'smart_23_normalized',
 'smart_23_raw',
 'smart_24_normalized',
 'smart_24_raw',
 'smart_168_normalized',
 'smart_168_raw',
 'smart_170_normalized',
 'smart_170_raw',
 'smart_173_normalized',
 'smart_173_raw',
 'smart_174_normalized',
 'smart_174_raw',
 'smart_177_normalized',
 'smart_177_raw',
 'smart_179_normalized',
 'smart_179_raw',
 'smart_181_normalized',
 'smart_181_raw',
 'smart_182_normalized',
 'smart_182_raw',
 'smart_183_normalized',
 'smart_183_raw',
 'smart_184_normalized',
 'smart_184_raw',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_188_normalized',
 'smart_188_raw',
 'smart_189_normalized',
 'smart_189_raw',
 'smart_190_normalized',
 'smart_190_raw',
 'smart_191_normalized',
 'smart_191_raw',
 'smart_192_normalized',
 'smart_192_raw',
 'smart_193_normalized',
 'smart_193_raw',
 'smart_194_normalized',
 'smart_194_raw',
 'smart_195_normalized',
 'smart_195_raw',
 'smart_196_normalized',
 'smart_196_raw',
 'smart_197_normalized',
 'smart_197_raw',
 'smart_198_normalized',
 'smart_198_raw',
 'smart_199_normalized',
 'smart_199_raw',
 'smart_200_normalized',
 'smart_200_raw',
 'smart_201_normalized',
 'smart_201_raw',
 'smart_218_normalized',
 'smart_218_raw',
 'smart_220_normalized',
 'smart_220_raw',
 'smart_222_normalized',
 'smart_222_raw',
 'smart_223_normalized',
 'smart_223_raw',
 'smart_224_normalized',
 'smart_224_raw',
 'smart_225_normalized',
 'smart_225_raw',
 'smart_226_normalized',
 'smart_226_raw',
 'smart_231_normalized',
 'smart_231_raw',
 'smart_232_normalized',
 'smart_232_raw',
 'smart_233_normalized',
 'smart_233_raw',
 'smart_235_normalized',
 'smart_235_raw',
 'smart_240_normalized',
 'smart_240_raw',
 'smart_241_normalized',
 'smart_241_raw',
 'smart_242_normalized',
 'smart_242_raw',
 'smart_250_normalized',
 'smart_250_raw',
 'smart_251_normalized',
 'smart_251_raw',
 'smart_252_normalized',
 'smart_252_raw',
 'smart_254_normalized',
 'smart_254_raw',
 'smart_255_normalized',
 'smart_255_raw']

**SMART Stats to be removed:**  

All Raw Values except for:   

SMART 9, SMART 190    
SMART raw values are usually reported using manufacturer specific codes, algorithims, and calculations.  
Each SMART stat is also normalized on a scale that is much more interpretable. SMART 9 specifically is for Powered-On Hours, so I think it can be used raw, however the validity of that remains to be seen.SMART 190 is used for Temperature Difference. Must investigate reporting methods.  

Source: 
https://www.smartmontools.org/wiki/TocDoc#SMARTAttributes

**SMART 9**  
Power-On Hours  

Metric Device Type: HDD / SSD
Entries: All Null  
Comments: This metric is generally found on Samsung devices, therefore by extension Samsung SSDs.  
Action: None / Dropped

In [5]:
df['smart_9_normalized']

0          70
1          96
2         100
3          96
4          98
         ...
106913     97
106914     75
106915     97
106916     98
106917     61
Name: smart_9_normalized, Length: 106918, dtype: int64

In [6]:
df['smart_9_raw'].describe()

count    106918.000000
mean      17456.977020
std       10662.424272
min           7.000000
25%        9229.000000
50%       15779.000000
75%       25392.250000
max       70465.000000
Name: smart_9_raw, dtype: float64

In [7]:
df['smart_9_normalized'].describe()

count    106918.000000
mean         84.933061
std          12.667695
min          16.000000
25%          75.000000
50%          89.000000
75%          96.000000
max         100.000000
Name: smart_9_normalized, dtype: float64

In [8]:
df['smart_9_normalized'].isnull().sum()

0

**SMART 173**  
SSD Wear Leveling Count   
  
Metric Device Type: SSD   
Entries: 14 Non-Null   
Comments: This is an SSD metric present in a dataset for mechanical drives.The corresponding normalized values are 100, which correspond to the default.Maybe these are leftover stats? Only 14 entries exist for 110k drives.  
Action: Dropped

In [9]:
# What is going on with SMART 173
df['smart_173_normalized'].value_counts()

100.0    14
Name: smart_173_normalized, dtype: int64

In [10]:
# How many are null values?
df['smart_173_normalized'].value_counts(dropna=False)

NaN      106904
100.0        14
Name: smart_173_normalized, dtype: int64

In [11]:
# Look at entries with non-null values to check model numbers
df_smart173 = df[df['smart_173_normalized'] == 100.0]
df_smart173

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
15650,2019-01-01,7M00020W,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15671,2019-01-01,7M000204,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33043,2019-01-01,7M000246,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35550,2019-01-01,7M000233,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35579,2019-01-01,7M00023F,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55517,2019-01-01,7M00022M,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55533,2019-01-01,7M00022R,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59895,2019-01-01,7M0002AA,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59935,2019-01-01,7M0002A6,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59964,2019-01-01,7M0002A8,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67312,2019-01-01,7M00028W,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94442,2019-01-01,7M00020P,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99053,2019-01-01,7M0002A1,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99336,2019-01-01,7M20022F,Seagate BarraCuda SSD ZA2000CM10002,2000398934016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This shows that the dataset does include some SSD devices. In order to maintain balance and integrity of comparisons these will need to be removed. Because this check will need to be done every with every single file, I suggest making a function to identify SSDs either by `string('ssd').isin(model)` or having non-null entries in SSD-specific SMART columns.

**SMART 177**  
Wear Range Delta  

Metric Device Type: SSD  
Entries: All Null  
Comments: Another SSD-Specific metric. Can be used to identify SSDs in the dataset.   
Action: Dropped

In [12]:
# How many are null values?
df['smart_177_normalized'].value_counts(dropna=False)

NaN    106904
0.0        14
Name: smart_177_normalized, dtype: int64

**SMART 179**  
Unused Reserved Block Count Total  

Metric Device Type: SSD  
Entries: All Null  
Comments: This metric is generally found on Samsung devices, therefore by extension Samsung SSDs.  
Action: None / Dropped

In [13]:
# What is SMART 179
# How many are null values?
df['smart_179_normalized'].value_counts(dropna=False)

NaN    106918
Name: smart_179_normalized, dtype: int64

**SMART 181**  
Program Fail Count / Non-4K Aligned Access Count  


Metric Device Type: ???  
Entries: All Null  
Comments: Measures a number of failures. Not entirely sure the context or meaning. All values are null, but doesn't preclude future drives.   
Action: None / Dropped

In [14]:
# How many are null values?
df['smart_181_normalized'].value_counts(dropna=False)

NaN    106918
Name: smart_181_normalized, dtype: int64

**SMART 182**  
Erase Fail Count


Metric Device Type: ???  
Entries: All Null  
Comments: A Pre-Fail attribute typically found on Samsung devices.   
Action: None / Dropped

In [15]:
df['smart_182_normalized'].value_counts(dropna=False)

NaN    106918
Name: smart_182_normalized, dtype: int64

In [16]:
# Get list of SMART stats for trimming
columns = df.columns.tolist()
columns

['date',
 'serial_number',
 'model',
 'capacity_bytes',
 'failure',
 'smart_1_normalized',
 'smart_1_raw',
 'smart_2_normalized',
 'smart_2_raw',
 'smart_3_normalized',
 'smart_3_raw',
 'smart_4_normalized',
 'smart_4_raw',
 'smart_5_normalized',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_7_raw',
 'smart_8_normalized',
 'smart_8_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_10_normalized',
 'smart_10_raw',
 'smart_11_normalized',
 'smart_11_raw',
 'smart_12_normalized',
 'smart_12_raw',
 'smart_13_normalized',
 'smart_13_raw',
 'smart_15_normalized',
 'smart_15_raw',
 'smart_16_normalized',
 'smart_16_raw',
 'smart_17_normalized',
 'smart_17_raw',
 'smart_22_normalized',
 'smart_22_raw',
 'smart_23_normalized',
 'smart_23_raw',
 'smart_24_normalized',
 'smart_24_raw',
 'smart_168_normalized',
 'smart_168_raw',
 'smart_170_normalized',
 'smart_170_raw',
 'smart_173_normalized',
 'smart_173_raw',
 'smart_174_normalized',
 'smart_174_raw',
 'smart_177_normalized',
 'smart_177_raw',
 'smart_179_normalized',
 'smart_179_raw',
 'smart_181_normalized',
 'smart_181_raw',
 'smart_182_normalized',
 'smart_182_raw',
 'smart_183_normalized',
 'smart_183_raw',
 'smart_184_normalized',
 'smart_184_raw',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_188_normalized',
 'smart_188_raw',
 'smart_189_normalized',
 'smart_189_raw',
 'smart_190_normalized',
 'smart_190_raw',
 'smart_191_normalized',
 'smart_191_raw',
 'smart_192_normalized',
 'smart_192_raw',
 'smart_193_normalized',
 'smart_193_raw',
 'smart_194_normalized',
 'smart_194_raw',
 'smart_195_normalized',
 'smart_195_raw',
 'smart_196_normalized',
 'smart_196_raw',
 'smart_197_normalized',
 'smart_197_raw',
 'smart_198_normalized',
 'smart_198_raw',
 'smart_199_normalized',
 'smart_199_raw',
 'smart_200_normalized',
 'smart_200_raw',
 'smart_201_normalized',
 'smart_201_raw',
 'smart_218_normalized',
 'smart_218_raw',
 'smart_220_normalized',
 'smart_220_raw',
 'smart_222_normalized',
 'smart_222_raw',
 'smart_223_normalized',
 'smart_223_raw',
 'smart_224_normalized',
 'smart_224_raw',
 'smart_225_normalized',
 'smart_225_raw',
 'smart_226_normalized',
 'smart_226_raw',
 'smart_231_normalized',
 'smart_231_raw',
 'smart_232_normalized',
 'smart_232_raw',
 'smart_233_normalized',
 'smart_233_raw',
 'smart_235_normalized',
 'smart_235_raw',
 'smart_240_normalized',
 'smart_240_raw',
 'smart_241_normalized',
 'smart_241_raw',
 'smart_242_normalized',
 'smart_242_raw',
 'smart_250_normalized',
 'smart_250_raw',
 'smart_251_normalized',
 'smart_251_raw',
 'smart_252_normalized',
 'smart_252_raw',
 'smart_254_normalized',
 'smart_254_raw',
 'smart_255_normalized',
 'smart_255_raw']

**SMART 190**  
Temperature Difference  


Metric Device Type: HDD  
Entries: Mixed  
Comments: Has some inconsistencies in regards to normalized vs raw. Must investigate reporting further.    
Action: None

In [17]:
df['smart_190_normalized'].value_counts(dropna=False)

NaN     25326
72.0     4899
73.0     4899
79.0     4373
78.0     4285
74.0     4280
71.0     4251
77.0     4202
70.0     4066
69.0     4032
76.0     3990
75.0     3972
68.0     3840
67.0     3388
65.0     3225
66.0     3110
80.0     3105
64.0     2807
63.0     2328
81.0     2192
82.0     1784
62.0     1716
61.0     1379
60.0     1095
59.0      976
58.0      748
83.0      671
57.0      633
56.0      411
55.0      298
84.0      205
54.0      200
53.0      107
52.0       57
85.0       39
51.0       18
50.0       10
49.0        1
Name: smart_190_normalized, dtype: int64

**SMART 218**  
FlashROM ECC Correction Count


Metric Device Type: Only on Hitachi Deskstar P7K500 (???)  
Entries: 14 Non-Null  
Comments: Found only on Hitachi Deskstar P7K500. No other
technical information is available at time of publication   
Action: None / Dropped

In [18]:
df['smart_218_normalized'].value_counts(dropna=False)

NaN      106904
100.0        14
Name: smart_218_normalized, dtype: int64

In [19]:
# Look at entries with non-null values to check model numbers
df_smart218 = df[df['smart_218_normalized'] == 100.0]
df_smart218

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
15650,2019-01-01,7M00020W,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15671,2019-01-01,7M000204,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33043,2019-01-01,7M000246,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35550,2019-01-01,7M000233,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35579,2019-01-01,7M00023F,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55517,2019-01-01,7M00022M,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55533,2019-01-01,7M00022R,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59895,2019-01-01,7M0002AA,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59935,2019-01-01,7M0002A6,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59964,2019-01-01,7M0002A8,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67312,2019-01-01,7M00028W,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94442,2019-01-01,7M00020P,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99053,2019-01-01,7M0002A1,Seagate BarraCuda SSD ZA500CM10002,500107862016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99336,2019-01-01,7M20022F,Seagate BarraCuda SSD ZA2000CM10002,2000398934016,0,100,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is unexpected. Hitachi Desktar P7K500 is a 3.5" SATA HDD. 
This should not return an SSD entry. 
Print row values for these indexes?

**SMART 240**  
Head Flying Hours // *Transfer Error Rate (Fujitsu)*


Metric Device Type: HDD  
Entries: Mixed  
Comments: Time spent during the positioning of the drive heads.Some Fujitsu drives report the count of link resets during a data transfer.   
Action: Investigate Fujitsu?

In [20]:
df['smart_240_normalized'].value_counts(dropna=False)

100.0    83898
NaN      22941
66.0        16
70.0        11
58.0         6
48.0         6
68.0         4
47.0         3
61.0         3
37.0         3
60.0         3
32.0         2
33.0         2
63.0         2
46.0         2
79.0         1
71.0         1
50.0         1
41.0         1
36.0         1
45.0         1
62.0         1
81.0         1
51.0         1
40.0         1
38.0         1
59.0         1
72.0         1
65.0         1
77.0         1
49.0         1
Name: smart_240_normalized, dtype: int64

**SMART 252**  
Newly Added Bad Flash Block


Metric Device Type: ---  
Entries: 1  
Comments: The Newly Added Bad Flash Block attribute indicates the total number of bad flash blocks the drive
detected since it was first initialized in manufacturing.    
Action: Investigate

In [21]:
df['smart_252_normalized'].value_counts(dropna=False)

NaN      106917
100.0         1
Name: smart_252_normalized, dtype: int64

In [22]:
# Look at entries with non-null values to check model numbers
df_smart252 = df[df['smart_252_normalized'] == 100.0]
df_smart252

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
19253,2019-01-01,W0Q7G2XR,ST320LT007,320072933376,0,119,212441136,NaN,NaN,98.0,...,1.0,17093441.0,1.0,90374.0,100.0,0.0,100.0,0.0,NaN,NaN

In [23]:
df_norm = df[df.columns.drop(list(df.filter(regex='raw')))]
print(df_norm.shape)
df_norm.head()

(106918, 67)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,smart_5_normalized,...,smart_233_normalized,smart_235_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized,smart_255_normalized
0,2019-01-01,Z305B2QN,ST4000DM000,4000787030016,0,111,NaN,91.0,100.0,100.0,...,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,ZJV0XJQ4,ST12000NM0007,12000138625024,0,83,NaN,98.0,100.0,100.0,...,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,ZJV0XJQ3,ST12000NM0007,12000138625024,0,73,NaN,99.0,100.0,100.0,...,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,ZJV0XJQ0,ST12000NM0007,12000138625024,0,81,NaN,93.0,100.0,100.0,...,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,134.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN